@font-face{
    src: url('../fonts/header.ttf');
    font-family: "myfont";
}
@font-face{
    src: url('../fonts/blackjack.otf');
    font-family: "black";
}
:root{
    --blue:  #121212;
    --blue-green: rgba(55, 150, 131, 0.29);
    --green: #05386B;
    --light-green: rgba(92, 219, 149, 0.35);
    --light-blue: rgba(0, 67, 136, 0.19);
}
body{
    background-color:#ececec;
}
.register_btn {
    background-color: var(--green);
    width: 100%;
    margin-top: 2em;
    color: white;
    transition:1s;
}
.register_btn:hover{
    background-color:var(--blue);
    color:white;
    transition:1s;
}
.container-custom{
    width: 100%;
    padding-right: 4em;
    padding-left: 4em;
    margin-right: auto;
    margin-left: auto;
}
.navbar{
    background-color:var(--blue);
}
.breadcrumb{
    background-color: var(--light-blue);
    border-right:5px solid var(--green);

}
.navbar input{
    background-color: whitesmoke
}
.navbar button{
    background-color: var(--green);
    color:white;
}
.post{
    padding:1em;
}
.main-card{
    border-color: var(--light-blue);
    margin-right:0.5em;
}
.main-card a:hover{
    color: var(--green);
    text-decoration:none;
}
.main-card h6{
    color: grey;
    font-size:14px;
    margin-top:6px;
}
.carousel-item img{
    border:4px dashed var(--green);
}
.like-btn{
    color:rgba(255, 0, 0, 0.938);;
    border-radius:10px;
}

.comment-btn{

    border-radius:10px;
}

.read-btn{
    background-color:rgba(30, 31, 30, 0.329);
    
}

.delete-btn{
  margin-top:3px;
  color:rgba(255, 0, 0, 0.719);

  
}


.card-header{
    background-color:var(--blue-green);
}
.card-header button{
  color:var(--blue);
    text-transform: uppercase;
}
.card-body a{
    text-decoration:none;
    color:var(--blue);
}

/* SCROLLBAR CODE FOR DIV */
.scroll-container {
    max-height: 1700px;
    min-height:100vh;
    overflow-y: scroll;
}

.plates{
    background-color: whitesmoke;
    border-radius:17px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
}

.scroll-container::-webkit-scrollbar {
    width: 3px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: var(--blue-green);
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scroll-container::-webkit-scrollbar-button {
    display: none;
}

/* SCROLLBAR CODE FOR DIV */


button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}
.comment-thread {
    width: 700px;
    max-width: 100%;
    margin: auto;
    padding: 0 30px;
    background-color: #fff;
    border: 1px solid transparent; /* Removes margin collapse */
}
.m-0 {
    margin: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}
.comment-voting {
    width: 20px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.comment-voting button {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0;
    border: 0;
    font-size: 10px;
}
.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}
.comment-author:hover {
    text-decoration: underline;
}
.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */

.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}
.comment-border-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
    padding: 0 20px;
    padding-left: 28px;
}
.replies {
    margin-left: 28px;
}

.card {
    background-color: #fff;

 
  }
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    width:100%;
    justify-content: center;
    align-items: flex-start;
    min-height: 250px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tag-teal {
    background-color: #47bcd4;
  }
  .tag-purple {
    background-color: #5e76bf;
  }
  .tag-pink {
    background-color: #cd5b9f;
  }
  
  .card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  .user {
    display: flex;
    margin-top: auto;
  }
  
  .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .user-info h5 {
    margin: 0;
  }
  .user-info small {
    color: #545d7a;
  }
  

  
  /*########## SURVEY #############*/
  #survey-title {
    font-family: "Rubik", sans-serif;
    text-align: center;
    padding: 1.5rem 0;
    margin: 0;
    padding-bottom: 0.2rem;
  }
  
  #survey-description {
    text-align: center;
    border-bottom: 1px solid silver;
    margin-top: 0;
    padding-bottom: 1.5rem;
    font-family: "Rubik", sans-serif;
  }
  
  #survey-form {
    margin: 10px;
  }
  
  .survey-fieldset:not(:last-of-type) {
    margin-bottom: 1rem;
  }
  
  .survey-legend {
    font-size: 18px;
    font-weight:bold;
    font-family: "Roboto", sans-serif;
  }
  
  .survey-label {

    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 10% auto;
    gap: 0.1em;
    max-width:100%;
    padding: 5px;
    align-items: center;
  }
.input{
    border:none;
    border-bottom:1px solid grey;
  }
  
  .survey-label:hover,
  .survey-label:focus-within {
    background-color: #eee;

  }
  .survey-radio {
  }
  
  #survey-submit {
    display: block;
    background-color: #4caf50;
    color: white;
    border: none;
    margin: 0.5rem auto;
    font-size: 16px;
    min-width: 60px;
    width: 20%;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
  }
  
  #survey-submit:hover {
    background-color: #45AA4A;
  }
  
  .survey-textarea {
    width: 100%;
    max-width: 100%;
    overflow: scroll;
    resize: vertical;
    height: 5rem;
  }

  



  /*######## COOKIE #######*/
  #okCookie{
    background-color:#F2F2F2;
    color:#333333;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:10px;
    font-family:sans-serif;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    border-top:1px solid #ccc;
    z-index:10;
  }
  
  #okCookie p{margin:0 0 10px 0; float:left; padding:5px 0px;}
  
  #okCookie #okClose, #okCookie #okCprivacy{
    padding:5px 20px;
    float:right;
    margin-left:10px;
    text-decoration:none;
    border-radius:3px;
    color:white;
  }
  
  #okCookie #okClose{
    background-color:#39B54A;
    text-shadow:0px 1px 1px #507F2B;
    box-shadow:inset 0px -1px 1px #507F2B;
  }
  
  #okCookie #okClose:hover{background-color:#42ce55}
  
  #okCookie #okCprivacy{
    background-color:#8D9499;
    text-shadow:0px 1px 1px #63666B;
    box-shadow:inset 0px -1px 1px #63666B;
  }
  
  #okCookie #okCprivacy:hover{background-color:#a0a8ae}
  
  .okcBeginAnimate{
      -webkit-animation: myfirst 2s; 
      animation: myfirst 2s;
  }
  
  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  
  /* Standard syntax */
  @keyframes myfirst {
      from {opacity: 0;}
      to {opacity: 1;}
  } 
  